@tailwind base;
@tailwind components;
@tailwind utilities;

/* src url 必须参考 tailwind 的输出文件, 不是input.css 文件 */

@layer base {
    @font-face {
        font-family: 'kaiti';
        src: url('./assets/fonts/KaiTi.woff2');
    }
}

* {
    font-family: kaiti;
    color: '#362420';
}
